.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

.section {
    padding: 48px 0;
} 

.section-title {
    margin-bottom: 48px;
    font-family: 'Play', sans-serif;
    color: var(--color-primary-dark );
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
}

.accent {
    color: var(--color-accent );
}