.text-accent {
    color: var(--color-accent );
}

.text-bold {
    font-weight: 600;
}

.text-form {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.13;
    color: var(--color-primary-light );
    max-width: 232px;
    text-align: center;
    margin: 0 auto 16px;

    @media screen and (min-width: $bp-tablet) {
        font-size: 16px;
        margin: 0 auto 22px;
    }

    @media screen and (min-width: $bp-desktop) {
        font-size: 22px;
        margin: 0 auto 32px;
    }
}