:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --color-accent: #2B7FFF;
    --color-background-dark: #011F4A;
    --color-button: #FAF4EA;
    --color-accent-text: #747272;
}
