.contacts-section {
    &__wrapper {
        padding-bottom: 48px;
    }

    &__title {
        text-align: center;
    }

    &__container {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 32px;
    }

    &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 32px;
    }

    &__box {
        background-color: var(--color-background-dark );
        border-radius: 32px;
        padding: 48px 56px;
        max-width: 424px;
    }

    &__button {
        display: block;
        margin: 0 auto 16px;
    }

    &__form-field {
        margin-bottom: 16px;
    }

    &__button {
        display: block;
        margin: 0 auto 8px;
    }
}