.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(89.38deg, #FFFFFF 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%), url('../images/hero.jpg');
    width: 100%;
    height: 688px;
    position: relative;
    padding-top: 114px;
    z-index: 2;

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 528px;
        margin-left: 120px;
        gap: 40px;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    &__title {
        font-family: 'Play', sans-serif;
        color: var(--color-accent );
        font-weight: 700;
        font-size: 140px;
        line-height: 0.8;
        margin-bottom: 0;
    }
    
    &__content-text {
        margin-bottom: 0;
    }
    
    &__content-button {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 238px;
    }
    
    &__text {
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 0;
    }
}

