.why-section {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(43, 127, 255, 0.2) 55%, rgba(43, 127, 255, 0) 85%, rgba(43, 127, 255, 0) 95%);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    &__container {
        position: relative;
        z-index: 1;
    }
    
    &__title {
        text-align: center;
    }
    
    &__list {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 56px;
    }
}