.footer {
    position: relative;
    padding: 56px 0;
    background-color: var(--color-primary-dark );

    &::before {
        content: '';
        position: absolute;
        bottom: -60px;
        background-repeat: no-repeat;
        right: -30px;
        width: 278px;
        height: 213px;
        background-image: url(../images/footer.png);
    }

    &__container {
        display: flex;
        gap: 20px;
    }
    
    &__nav, 
    &__address {
        display: flex;
        flex-basis: 50%;
        gap: 20px;
    }
    
    &__logo,
    &__menu {
        flex-grow: 1;
    }

    &__link {
        color: var(--color-primary-light );
        font-size: 16px;
        line-height: 1.1;
        transition: color 0.2s;
        fill: var(--color-primary-light );
    
        &:hover {
            color: var(--color-accent );
            fill: var(--color-accent );
        }
    }

    &__item {
        margin-bottom: 16px;
    }

    &__address-list,
    &__info {
        flex-grow: 1;
    }

    &__address-link {
        font-style: normal;
    }

    &__media {
        display: flex;
        gap: 24px;
    }

    &__info-link {
        font-style: normal;
        margin-bottom: 16px;
    }

    &__info-text {
        color: var(--color-accent-text );
        font-size: 13px;
        line-height: 1.15;
        font-style: normal;
    }
}