.header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 16px 0;

    @media screen and (min-width: $bp-desktop) {
        background-color: rgba(255, 255, 255, 0.25) ;
        padding: 32px 40px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;    
    }
    
    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__logo {
        max-width: 57px;
        height: auto;

        @media screen and (min-width: $bp-tablet) {
            max-width: 74px;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            gap: 56px;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 1.17;
        color: var(--color-primary-dark );
        transition: color 0.2s fill 0.2s;

        &:hover {
            color: var(--color-accent );
        }
    }

    &__social {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }
    }

    &__burger {
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
        padding: 0;
        fill: var(--color-primary-light);

        @media screen and (min-width: $bp-tablet) {
            width: 32px;
            height: 32px;
        }

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}