.header {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25) ;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 32px 40px;

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;    
    }
    
    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__menu {
        display: flex;
        gap: 56px;
        flex-grow: 1;
        justify-content: center;
    }

    &__link {
        font-size: 18px;
        line-height: 1.17;
        color: var(--color-primary-dark );
        fill: var(--color-primary-dark );
        transition: color 0.2s fill 0.2s;

        &:hover {
            color: var(--color-accent );
            fill: var(--color-accent );
        }
    }

    &__list {
        display: flex;
        gap: 32px;
        flex-grow: 1;
        justify-content: center;
    }
}